<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">   
    <meta name="author" content="FrogIT">
    <meta name="description" content="Web Memo App FroggyMemo">
    <meta property="og:description" content="Web Memo App FroggyMemo">
    <meta property="og:title" content="FroggyMemo">
    <meta property="og:image" content="./src/img/og.png">
    <title>FroggyMemo</title>
    <link rel="icon" href="./src/img/logo.png">
    <link rel="apple-touch-icon" href="./src/img/logo-full.png">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="./src/style.css">
    <script defer src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <!-- <script defer src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script> -->
    <script defer src="./src/initData.js"></script>
    <script defer src="./src/controlDB.js"></script>
    <script defer src="./src/vueComponents.js"></script>
    <script defer src="./src/vueMemo.js"></script>
    <script defer src="./src/main.js"></script>
</head>
<body id="body">
<div id="screen" :class="[settings.nightMode?'dark':settings.background]">
    <div id="splash" class="modal-mask" v-if="!items">
            <p>
                이 앱을 사용하시려면 ECMAScript 6 및 indexedDB를 지원하는 브라우저가 필요합니다.<br>권장 브라우저: Chrome, Firefox<br><br>
                ECMAScript 6 and indexedDB are required to run this app.<br>Recommended Browser: Chrome, Firefox
            </p>
    </div>
    <memo :class="[showSettings||showNotice?'blur':'']" :l="l" :items="items" :header="header" :settings="settings" @add-item="addItem" @reset-field="resetField" @change-setting="changeSetting" @modal="modal" @edit-item="editItem" @remove-item="removeItem"></memo>
    <settings-modal v-if="showSettings" :l="l" :settings="settings" :version="version" @save="changeSetting" @resetapp="resetApp" @close="modal('settings', false)"></settings-modal>
    <notice-modal v-if="showNotice" :l="l" :version="version" @close="modal('notice', false)"></notice-modal>
</div>
</body>
</html>
