<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">   
    <meta name="author" content="FrogIT">
    <meta name="description" content="편리한 메모 앱 FroggyMemo">
    <meta property="og:description" content="편리한 메모 앱 FroggyMemo">
    <meta property="og:title" content="FroggyMemo">
    <meta property="og:image" content="./src/img/og.png">
    <title>FroggyMemo</title>
    <link rel="icon" href="./src/img/logo.png">
    <link rel="apple-touch-icon" href="./src/img/logo-full.png">
    <link rel="stylesheet" href="./src/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,400" rel="stylesheet">
    <script defer src="https://unpkg.com/vue@2.6.10/dist/vue.min.js"></script>
    <!-- <script defer src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>  -->
    <script defer src="./src/initDB.js"></script>
    <script defer src="./src/controlDB.js"></script>
    <script defer src="./src/vueMemo.js"></script>
    <script defer src="./src/main.js"></script>
</head>
<body>
    <main>
        <div id="header">
            <input id="title-field" type="text" v-if="titleField!='' || textField!=''" v-model="titleField" placeholder="제목">
            <transition name="text-field">
            <textarea id="text-field" v-model="textField" :style="style.textField" placeholder="새로운 메모 . ."></textarea>
            </transition>
            <div id="btn-area" :style="style.btnArea">
                <input class="btn" type="submit" @click="addItem()" :value="btnArea">
                <input class="btn" type="button" @click="resetField()" value="취소">
            </div>
        </div>
        <div id="memo-list">
            <transition-group name="memo-list" tag="div">
                <memo-item class="memo-item" v-for="item in items" :key="item.id" :id="item.id" :title="item.title" :text="item.text" :timesince="getTimesince(item.time)" :timefull="convertTime(item.time)" @edit="editItem(item)" @remove="removeItem(item.id)" onclick="void(0)"></memo-item>
            </transition-group>
        </div>
        <div id="credit">
            <a href="https://github.com/frogitdev/froggy-memo" target="_blank">GitHub Repository</a><br>
            <b>FroggyMemo</b> BETA 0.1.3<br>
            (C) <a href="http://frogit.xyz" target="_blank">FrogIT</a>. Licensed under the MIT License<br>
        </div>
    </main>
</body>
</html>
