body {
    margin: 0;

    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);
}

.tooltiptext {
    position: absolute;
    z-index: 1;
    visibility: hidden;
    width: 300px;
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    padding: 5px 0;
}

.link {
    cursor: pointer;
    background-color: black;
    color: white;
}

pre {
    white-space: pre-wrap;
}

main {
    margin: 36px 0;
    padding: 36px;
    min-width: 300px;
    width: 50vw;
    
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
}

#title-field {
    display: block;
    width: 95%;
    font-size: 24px;
}

#text-field {
    resize: none;
    width: 95%;
}

.memo-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    border: 1px solid lightgray;
}

.memo-item:hover .tooltiptext, .memo-item:focus .tooltiptext {
    visibility: visible;
}

@media screen and (max-width: 700px) {
    main {
        width: 100%;
    }
}

#credit {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);

    font-size: 14px;
    color: white;
}
#credit a {
    color: lightcoral;
}
