/* ROOT ELEMENTS */

html, body {
    margin: 0;
}
body {
    background-color: #ddd;
}
body.dark {
    background-color: #334;
}

#screen {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;

    background: #dde linear-gradient(to bottom, #dde, #ded) no-repeat fixed;
        
    color: #333;
    font-family: "Noto Sans KR", sans-serif;
}
#screen.dark {
    background: #334;
    color: #eee;
}


/* CLASSES */

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #aab;
}
::-webkit-scrollbar-thumb:hover {
    background: #556;
}

pre {
    white-space: pre-line;
}

.bgwhite {
    background: #fff;
}
#screen.dark .bgwhite { background: #445; }

.tooltiptext {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid;
    border-color: lightgray;
    padding: 10px;
    cursor: default;
}
#screen.dark .tooltiptext { border-color: #666; }

.link {
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
}

.btn {
    padding: 10px;
    -webkit-appearance: none;
    border: 1px solid #dde;
    border-radius: 4px;
    background: #fff;
    font-size: 1em;
    color: #333;
    cursor: pointer;
}
#screen.dark .btn {
    background: #445;
    color: #eee;
}

.modal-mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .2);
}

.modal-container {
    background: rgba(255, 255, 255, .7);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#screen.dark .modal-container { background: rgba(68, 68, 85, .7) }
.modal-container h2 {
    margin-top: 0;
}


.tab-buttons {
    border-radius: 10px 10px 0 0;
    padding-left: 10px;
}
.tab-btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}
.tab-active {
    border-bottom: 4px solid;
    border-bottom-color: #333;
    font-weight: bold;
}
#screen.dark .tab-active { border-bottom-color: #eee; }

.tab-page {
    min-height: 300px;
    max-height: 500px;
    padding-top: 20px;
    overflow: auto;
}

.tab-content {
    margin-bottom: 20px;
    padding: 36px;
    border-radius: 20px;
}


/* MAIN ELEMENTS */

#splash {
    background: #bbc;
}
#splash p {
    color: #bbc;
    transition: color .1s;
    transition-delay: 3s;
}
#splash:hover p {
    color: #000;
}

#main {
    display: block;
    margin: 36px 0;
    padding: 36px;
    min-width: 250px;
    width: 50vw;
    position: relative;
    
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    filter: none;
    
    transition: filter .7s;
}
#main.blur { filter: blur(7px); }

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px;
    z-index: 2;
    font-size: 18px;
}

#icon-area {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: 3;
    margin: 10px 0;
    width: 70px;
    height: 50px;

    align-items: center;
    justify-content: space-around;
}
#header.expand #icon-area { display: none; }
#icon-area i {
    color: lightgray;
}

#title-field, #text-field {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-left: 5px solid;
    border-left-color: lightgray;
    border-radius: 0;
    background: none;
    color: #333;

    transition: border 0.5s;
}
#screen.dark #title-field, #screen.dark #text-field {
    border-left-color: darkgray;
    color: #eee;
}

#title-field:focus, #text-field:focus {
    border-left: 5px solid gray;
}

#title-field {
    font-size: 1.5em;
}

#text-field {
    height: 50px;
    resize: none;
    font-size: 1em;
    font-family: inherit;
    
    transition: all 1s;
}
#header.expand #text-field { height: 300px; }

#btn-area {
    display: none;
    padding: 10px 0;
}
#header.expand #btn-area { display: inline-block; }

#btn-area input {
    margin-right: 10px;
}

.memo-item {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    max-width: 100%;
    border: 1px solid;
    border-color: lightgray;
    word-wrap: break-word;
    
    transition: all 1s;
}
#screen.dark .memo-item { border-color: #666; }
.memo-item.list { display: block; }

.memo-item pre {
    font-size: 18px;
    font-family: inherit;
    font-weight: lighter;
}
.memo-item.small pre { font-size: 12px; }
.memo-item.large pre { font-size: 24px; }

.memo-item:hover .tooltiptext {
    display: block;
}

#settings-modal {
    width: 50vw;
}

#notice-modal {
    width: 500px;
    padding: 36px;
}

#settings-inf a {
    color: lightcoral;
}


/* MEDIA RULES */

@media screen and (max-width: 700px) {
    #header, .memo-item {
        margin: 5px;
    }
    
    #main, #settings-modal, #notice-modal {
        width: 100vw;
    }

    #main, #notice-modal, .tab-content {
        padding: 18px;
    }
}


/* VUE TRANSITIONS */

.memo-list-enter, .memo-list-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}
.memo-list-leave-active {
    position: absolute;
}

.modal-enter, .modal-leave-to {
    opacity: 0;
}
.modal-enter-active, .modal-leave-active {
    transition: all .7s;
}
