/* ROOT ELEMENTS */

html, body {
    margin: 0;
}

#screen {
    min-height: 100vh;
    
    display: flex;
    justify-content: center;
    
    background-color: #dde;
    background: linear-gradient(to bottom, #dde, #ded);
    background-attachment: fixed;
    
    font-family: "Noto Sans KR", sans-serif;
}


/* CLASSES */

.tooltiptext {
    display: none;
    position: absolute;
    z-index: 1;
    border: 1px solid lightgray;
    padding: 10px;
    background-color: white;
    color: #333;
    cursor: default;
}

.link {
    cursor: pointer;
}

textarea:focus, input:focus {
    outline: none;
}

.btn {
    padding: 10px;
    -webkit-appearance: none;
    border: 1px solid #dde;
    border-radius: 4px;
    background-color: white;
    font-size: 1em;
    cursor: pointer;
}

.modal-mask {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.modal-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.tab-buttons {
    border-radius: 10px 10px 0 0;
    padding-left: 10px;
    background-color: #344;
}
.tab-btn {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    color: white;
}
.tab-active {
    border-bottom: 4px solid white;
    font-weight: bold;
}

.tab-page {
    padding: 36px;
    min-height: 300px;
    max-height: 500px;
}


/* MAIN ELEMENTS */

#main {
    display: block;
    margin: 36px 0;
    padding: 36px;
    min-width: 250px;
    width: 50vw;
    position: relative;
    
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 10px;
    
    transition: filter .7s ease;
}

#header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    margin: 10px;
    z-index: 2;
    background-color: white;
    font-size: 18px;
}

#icon-area {
    position: absolute;
    display: flex;
    top: 0;
    right: 0;
    z-index: 3;
    margin: 10px 0;
    width: 70px;
    height: 50px;

    align-items: center;
    justify-content: space-around;
}
#icon-area i {
    color: lightgray;
}

#title-field, #text-field {
    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-left: 5px solid lightgray;
    border-radius: 0;

    transition: border 0.5s;
}

#title-field:focus, #text-field:focus {
    border-left: 5px solid gray;
}

#title-field {
    font-size: 1.5em;
}

#text-field {
    resize: none;
    font-size: 1em;
    font-family: inherit;
    
    transition: all 1s;
}
#btn-area {
    padding: 10px 0;
}

#btn-area input {
    margin-right: 10px;
}

.memo-item {
    margin: 10px;
    padding: 10px;
    min-width: 100px;
    max-width: 100%;
    border: 1px solid lightgray;
    word-wrap: break-word;
    
    transition: all 1s;
}

.memo-item pre {
    white-space: pre-line;
    font-size: 18px;
    font-family: inherit;
    font-weight: lighter;
}

.memo-item:hover .tooltiptext {
    display: block;
}

#settings-modal {
    width: 50vw;
}

#settings-inf a {
    color: lightcoral;
}


/* MEDIA RULES */

@media screen and (max-width: 700px) {
    #main {
        width: 100%;
        padding: 18px;
    }
    
    #header, .memo-item {
        margin: 5px;
    }
    
    #settings-modal {
        width: 100%;
    }

    .tab-page {
        padding: 18px;
    }    
}


/* VUE TRANSITIONS */

.memo-list-enter, .memo-list-leave-to {
    opacity: 0;
    transform: translateY(-30px);
}

.memo-list-leave-active {
    position: absolute;
}
